@charset "utf-8";

/* ================================
   全体共通設定
================================ */
body {
  font-family: serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ede1ba;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 100px;
  text-shadow: 2px 2px 1px #c69c6d;
}

p,
li {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
}

/* ================================
   表示切り替え
================================ */
.for_pc {
  display: flex;
  z-index: 100;
}

.for_mobile {
  display: none;
  z-index: 1;
}

/* ================================
  亀の動き
================================ */
#turtle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

#turtle {
  position: absolute;
  transition: transform 1.2s ease;
}

/* 各スライドに合わせた亀の位置 */
.turtle-pos1 {
  transform: translate(10vw, 80vh);
}

.turtle-pos2 {
  transform: translate(70vw, 20vh);
}

.turtle-pos3 {
  transform: translate(45vw, 50vh);
}

.turtle-pos4 {
  transform: translate(90vw, 90vh);
}


.turtle-flip {
  transform: scaleX(-1);
}


/* ================================
  ヘッダー
================================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 220px;
  background-color: #f2db8d;
  position: sticky;
  top: 0;
  z-index: 100;
}

header a {
  width: fit-content;
  height: fit-content;
}

header img {
  width: 90px;
  height: 90px;
}

header ul {
  display: flex;
  gap: 0;
  margin: 0;
  padding: 0;
}

header li {
  list-style-type: none;
  background-color: #f2db8d;
  padding: 5px 10px;
  border-right: 1px solid #000;
}

/* ================================
   ファーストビュー
================================ */
.first-view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin: 0;
  width: 100%;
  gap: 70px;
}
/* 和菓子のみ */
.wagashi .first-view{
  margin-top: 90px;
}

.first-view img {
  width: 100%;
}

.smoke {
  width: 100%;
}

.smoke::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(225, 225, 225, 0.5);
}

.title {
  position: absolute;
  width: 70% !important;
}

.first-view svg {
  rotate: -90deg;
  width: 500px;
  height: auto;
  top: -110px;
  left: 800px;
}

.first-view .txt_rl {
  /* position: absolute; */
  right: 430px;
}

.txt_rl {
  display: flex;
  flex-direction: row-reverse;
}

.txt_rl h1 {
  writing-mode: vertical-rl;
  margin-left: 3px;
}

/* ================================
   main構成
================================ */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 40px;
  padding: 250px 220px 60px;
}

.midashi {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
}

/* ================================
   about セクション
================================ */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: relative;
  padding: 200px 0 0 0;
  margin-top: 100px;
}

.about h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 99;
}

.about p {
  margin: 10px;
  padding-top: 3px;
  border-top: 1px solid #000;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.img_container {
  width: 100%;
  height: 245px;
  overflow-y: hidden;
  margin-bottom: 60px;
}

.obi {
  width: 100%;
}

svg {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 250px;
  z-index: 1;
}

.turtle {
  position: absolute;
  top: 90px;
  left: 350px;
  height: 330px;
}

.history_box {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 385px 120px 385px;
}

table {
  width: 600px;
  border-spacing: 5px 45px;
}

.history_box p {
  border: none;
  writing-mode: unset;
  text-orientation: unset;
}

.history_box a {
  display: flex;
  justify-content: right;
}

.history_box table thead tr th {
  width: 100px;
}

/* ================================
   商品表示（和菓子）
================================ */
.show {
  padding: 0 200px;
}

.area {
  display: flex;
  justify-content: left;
  gap: 140px;
  position: sticky;
  margin-top: 80px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product .img_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  overflow-y: hidden;
}

.product img {
  width: 100%;
}

.product .name_price {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.product .name_price div {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 0 10px;
}

.itirann {
  display: flex;
  flex-direction: column;
  width: 550px;
  gap: 50px;
  margin-bottom: 90px;
}

.lower {
  width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.product_disc {
  width: 300px;
}

aside {
  align-self: flex-start;
  position: sticky;
  top: 100px;
}

.eye_catch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #896c49;
}

/* ================================
   レスポンシブ対応（モバイル用）
================================ */
@media (max-width: 460px) {
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    margin: 5px;
  }

  .for_pc {
    display: none;
    z-index: 1;
  }
  .for_mobile {
    display: block;
    z-index: 99;
  }

  #turtle-container{
    display: none;
  }
  #turtle {
    display: none;
  }


  header {
    width: 100%;
    padding: 25px 0 10px 0;
    justify-content: center;
    gap: 180px;
  }

  header li {
    list-style-type: none;
    background-color: transparent;
    padding: 5px 10px;
    border-right: 0;
  }

  header img {
    width: 60px;
    height: 60px;
  }

  li h1 {
    color: #fff;
    text-align: left;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .drawer_hidden {
    display: none;
  }

  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
  }

  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }

  .drawer_open span:before {
    bottom: 8px;
  }
  .drawer_open span:after {
    top: 8px;
  }

  #drawer_input:checked ~ .drawer_open span {
    background: transparent;
  }
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 90px;
    right: 100%;
    z-index: 99;
    background: transparent;
    transition: 0.5s;
  }

  #drawer_input:checked ~ .nav_content {
    right: 0;
  }

  .nav_list {
    width: fit-content;
    padding: 6px 36px;
    background-image: url(../img/overlay.png);
    list-style-image: url(../img/kame.png);
    list-style-position: inside;
    gap: 16px;
    position: absolute;
    right: 0;
  }

  .first-view {
    width: 100%;
    margin: 0;
  }
  main {
    width: 100%;
  }

  section{
    width: 100%;
  }

  .news {
    padding: 20px 40px;
  }

  .eye_catch {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    background-image: url(../img/kameya_mutsu.jpg);
  }

  .eye_catch::before {
    content: " ";
    position: absolute;
    height: 132px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .eye_catch p {
    border-left: 1px solid #fff;
    border-top: none;
    color: #fff;
    z-index: 1;
  }

  .eye_catch h2 {
    color: #fff;
  }

  .eye_catch svg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 25%;
    z-index: 99;
  }

  .stop02 {
    stop-color: #fff;
  }
  .img_container {
    display: none;
  }

  .about {
    padding: 0;
  }

  .about p {
    margin: 5px;
  }

  .midashi {
    width: 70%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
}

  .about .history_box {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .about table {
    width: 100%;
    padding: 0 40px;
  }

  .about .turtle {
    position: absolute;
    top: 45px;
    left: 55px;
    height: 280px;
  }

  .history_box {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  

  .turtle {
    display: none;
}

  table {
    width: 300px;
    border-spacing: 5px 15px;
}

  footer {
    width: 100%;
    padding: 10px 0;
  }
  footer a {
    display: none;
  }
}
